@mixin colorScheme($theme) {
  @if $theme == dark {
    background-color: $darkGray;
    color: $offWhite;
  } @else {
    background-color: $offWhite;
    color: $darkGray;
  }
}

@mixin flexSetup($orientation) {
  display: flex;
  @if $orientation == horizontal {
    align-items: center;
  } @else {
    flex-direction: column;
    justify-content: center;
  }
}

@mixin quoteFormatting {
  margin: 0;
  padding: 2vmax;
  font-size: 6vmin;
}

@mixin btnStyles {
  background-color: $default;
  border: none;
  box-shadow: $shading;
  cursor: pointer;
  border-radius: 8px;
  padding: 2%;
  font-family: $secondaryFont;
  font-size: 4vmin;
}

