@mixin darkSection {
  background-color: $dark;
  color: $light;
}

@mixin lightSection {
  background-color: $light;
  color: $dark;
}

@mixin centerColumnFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin horizontalFlex {
  display: flex;
  align-items: center;
}

@mixin quoteFormatting {
  margin: 0;
  padding: 2vmax;
  font-size: 6vmin;
}

@mixin btnStyles {
  background-color: $bright;
  border: none;
  box-shadow: $shading;
  cursor: pointer;
  border-radius: 8px;
  padding: 2%;
  font-family: $secondaryFont;
  font-size: 4vmin;
}