@import "./variables";
@import "./header-animation";
@import "./templates";

// Page styles
html {
  height: 100%;
  body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    @include flexSetup(vertical);
    font: {
      family: $primaryFont;
      size: 24px;
    }
    background: {
      image: url("../assets/alaksiej-carankievic-fBib2mhl-ZE-unsplash.jpg");
      size: cover;
      position: center;
      attachment: fixed;
    }
  }
}

// Header styles
header {
  flex-shrink: 0;
  @include flexSetup(horizontal);
  justify-content: center;
  @include colorScheme(dark);
  h1 {
    margin: 2vh 0vw;
    font-size: 9vmin;
    text-align: center;
  }
}

// Main styles
main {
  flex: 1 0 auto;
  @include flexSetup(vertical);
  margin: 0 auto;
  .cardholder {
    height: 80%;
    @include flexSetup(vertical);
    .quote-div {
      width: 80vw;
      @include flexSetup(vertical);
      align-content: center;
      @include colorScheme(light);
      .quote-text {
        @include quoteFormatting;
      }
      .quote-author {
        @include quoteFormatting;
        font-family: $secondaryFont;
      }
    }
  }
  .button-div {
    height: 20%;
    @include flexSetup(horizontal);
    justify-content: space-between;
    button {
      @include btnStyles;
    }
    button:hover {
      background-color: $selected;
    }
  }
}

// Footer styles
footer {
  flex-shrink: 0;
  @include flexSetup(horizontal);
  justify-content: space-between;
  padding: 1%;
  @include colorScheme(dark);
  p {
    margin: 0;
    font-size: 2vmin;
  }
  .api-link {
    font-family: $secondaryFont;
  }
}

// Global link styles
a:link {
  color: $offWhite;
  text-decoration: none;
}
a:visited {
  color: $offWhite;
}

