@import "./variables";
@import "./templates";

html {
  body {
    @include centerColumnFlex;
    font-family: $primaryFont;
    font-size: 24px;
    height: 100vh;
    margin: 0;
    background-image: url("../assets/alaksiej-carankievic-fBib2mhl-ZE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;
    header {
      @include darkSection;
      flex-shrink: 0;
      @include horizontalFlex;
      justify-content: center;
      h1 {
        margin: 2vh 0vw;
        font-size: 9vmin;
      }
    }
    main {
      @include centerColumnFlex;
      flex: 1 0 auto;
      margin: 0 auto;
      .cardholder {
        @include centerColumnFlex;
        height: 80%;
        .quote-div {
          @include centerColumnFlex;
          align-content: center;
          width: 80vw;
          @include lightSection;
          .quote-text {
            @include quoteFormatting;
          }
          .quote-author {
            @include quoteFormatting;
            font-family: $secondaryFont;
          }
        }
      }
      .button-div {
        height: 20%;
        @include horizontalFlex;
        justify-content: space-between;
        button {
          @include btnStyles;
        }
        button:hover {
          background-color: $selected;
        }
      }
    }
    footer {
      flex-shrink: 0;
      @include darkSection;
      @include horizontalFlex;
      justify-content: space-between;
      padding: 1%;
      p {
        margin: 0;
        font-size: 2vmin;
      }
      .api-link {
        font-family: $secondaryFont;
      }
    }
  }
}

a:link {
  color: $light;
  text-decoration: none;
}

a:visited {
  color: $light;
}

